doctype html
html
  head
    meta(charset='utf-8')      
    title Apollo
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #calccontainer
      #display
        p#displaytext 0
      #buttons
        ul.calcrow
          li.calcbutton
            p.calcbuttontext C
          li.calcbutton#calcbuttonplusminus
            p#calcplusminusbuttontext
              span &#X0207A;
              span#calcbuttonslash &#X02044;
              span &#X02012;
          li.calcbutton
            p.calcbuttontext %
          li.calcbutton.orangebutton
            p.calcbuttontext#calcdividebutton &#X00F7;
        ul.calcrow
          li.calcbutton
            p.calcbuttontext 7
          li.calcbutton
            p.calcbuttontext 8
          li.calcbutton
            p.calcbuttontext 9
          li.calcbutton.orangebutton
            p.calcbuttontext X
        ul.calcrow
          li.calcbutton
            p.calcbuttontext 4
          li.calcbutton
            p.calcbuttontext 5
          li.calcbutton
            p.calcbuttontext 6
          li.calcbutton.orangebutton
            p.calcbuttontext &#X02014;
        ul.calcrow
          li.calcbutton
            p.calcbuttontext 1
          li.calcbutton
            p.calcbuttontext 2
          li.calcbutton
            p.calcbuttontext 3
          li.calcbutton.orangebutton
            p.calcbuttontext +
        ul.calcrow
          li.calcbutton#calcbutton0
            p.calcbuttontext#calctext0 0
          li.calcbutton
            p.calcbuttontext .
          li.calcbutton.orangebutton#lastrowbox
            p.calcbuttontext =
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
