body {
  background-color: white;
  font-family: 'Helvetica Neue', helvetica;
  font-weight: 300;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
#calculatorwrapper {
  text-align: center;
}
#calculator {
  width: 283px;
  background-color: black;
  margin-top: -35px;
}
#display {
  background-color: black;
  min-height: 100px;
}
#displaytext {
  position: relative;
  top: 25px;
  text-align: right;
  color: white;
  font-size: 45px;
  padding: 20px 10px 10px 0;
}
#buttons {
  margin-top: -46px;
  padding: 0;
}
.calcrow {
  padding: 0;
  margin: 0;
  width: 100%;
}
.calcbutton {
  background-color: rgba(227, 227, 227, 1.00);
  text-align: center;
  width: 70px;
  min-height: 70px;
  font-size: 22px;
  padding: 0;
  margin: -1px -3px;
  display: inline-block;
  border: 1px gray solid;
}
#calcbuttonplusminus {
  padding: -20px 0;
}
#calcplusminusbuttontext {
  margin-top: 16px;
  vertical-align: middle;
}
#calcbuttonslash {
  font-size: 26px;
}
#calcdividebutton {
  margin-top: 14px;
  margin-bottom: -16px;
  font-size: 28px;
}
#calcbutton0 {
  width: 140px;
}
.calcbuttontext {
  margin-top: 20px;
  vertical-align: middle;
}
#calctext0 {
  text-align: left;
  margin-left: 30px;
}
.orangebutton {
  background-color: rgba(218, 146, 50, 1.00);
  color: white;
}
#lastrowbox {
  margin: -3px;
}
.orangebuttonhit {
  background-color: rgba(218, 146, 50, 0.5);
  color: gray;
  padding: -1px;
  margin: -3px;
}
.graybuttonhit {
  background-color: rgba(227, 227, 227, 0.5);
}
